<div class="row">
  <div class="col-md-8">
    <h1><%= @user.name 'To-dos' %></h1>
    <ul class="items">
      <% @items.each do |item| %>
        <li class="item"><%= item.name %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
<%= form_for [@user, @item] do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: "Add another item" %>
  </div>
  <%= f.submit "Submit item", class: 'btn btn-success' %>
<% end %>
</div>
